@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: Saira,sans-serif;
}

@theme{
--color-dark-100:#1a1a1a;
--color-ddark-200:#1f1f1f;
--color-dark-300:#2d2d2d;
--color-dark-400:#3d3d3d;
--color-purple: #8B5CF6;
--color-pink:#EC4899;
--color-blue: #3B82F6;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;

  border-right: 2px solid #8B5CF6;

  width: 0;
  max-width: max-content;

  animation:
    typing 1.2s steps(12, end) forwards,
    blink-caret 0.7s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  50% { border-color: transparent; }
}

